[init]
	defaultBranch = trunk

[user]
	name = Kim Iversen
	email = kim@wwan.no
	signingkey = 03D6D1DD5C3A87AF

[commit]
	gpgsign = true

[gpg]
	program = /opt/homebrew/bin/gpg

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true
