[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager-core
	credentialstore = gpg

[credential "https://dev.azure.com"]
	useHttpPath = true

[includeIf "gitdir:~/Projects/work/**"]
  path = ~/Projects/work/.gitconfig

[includeIf "gitdir:~/Projects/personal/**"]
  path = ~/Projects/personal/.gitconfig
[credential "https://gitlab.com"]
	provider = generic
[init]
	defaultBranch = trunk
