[user]
  email = kim.iversen@blinq.no
  name = "Kim Iversen"

# This section lets me use different credentials for different repositories.
# Source: https://github.com/GitCredentialManager/git-credential-manager/blob/main/docs/multiple-users.md
[url "https://blinq-kim@github.com"]
  insteadOf = "https://github.com"
